@import '../../../assets/styles/variables';
.container{
  display: flex;
  gap: 30px ;
  z-index: 0;


.leftSide{
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px ;
}
.rightSide{
  z-index: 0;
}

}
