@import '../../../assets/styles/variables';

.container{
  width: 160px;
  height: 170px;
  background-color: white;
  box-shadow: $bx-accent;
  border-radius: 25px;
  padding: 15px;
  padding-inline: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .up{
    span{

      &:first-child{
        display: block;
        color: black;
        font-size: 24px;
        margin-bottom: 5px;
        font-weight: 600;
      }
      &:last-child{
        color: $light-accent;
        font-size: 14px;
      }
    }
  }

  .low{

    font-size: 32px;
    color: #7CB4F9;

    .icon{
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
    }
    span{
      display: flex;
      color: black;
      font-size: 20px;
    }
  }
}

