@import '../../../../../assets/styles/variables';

.container {
  background: white; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: $bx-accent;

  .inner {

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;


      .datePicker{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        outline: solid 1px lightgrey;
        width: 100%;
        &:focus{
          outline: solid 2px $extra-color;
        }
        &:hover{
          outline: solid 2px $extra-color;
        }
      }
    }
  }
}


