@import '../../../assets/styles/variables';

.authLayout{
  padding-inline: 30px;


  .container{
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header{

  }
  .footer{
    
  }

}


