@import '../../../assets//styles/variables';

.emailCont{

  .inputEmail{
    padding: 15px;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 280px;
    outline: solid 1px lightgrey;
    margin-bottom: 10px;
    background-color: transparent;

    &:hover{
      outline: solid 2px $extra-color;
    }
    &:focus{
      outline: solid 2px $extra-color;
    }
  }
  margin-bottom: 10px;
}
.passCont{

  .inputContainer{
    padding: 15px;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 280px;
    outline: solid 1px lightgrey;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:focus{
      outline: solid 2px $extra-color;
    }
    &:hover{
      outline: solid 2px $extra-color;
    }

    
    .inputPass{
      width: 100%;
      background-color: transparent;
    }
    .iconEye{
      font-size: 18px;
      margin-left: 20px;
    }
    
  }
}

.justCont{

  .inputJust{
    padding: 15px;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 280px;
    outline: solid 1px lightgrey;
    background-color: transparent;
    &:hover{
      outline: solid 2px $extra-color;
    }
    &:focus{
      outline: solid 2px $extra-color;
    }
  }
}

