@import '../../../assets/styles/variables';

.container{
  border-radius: 10px;
  font-size: 18px;
  background-color: $extra-color;
  color: white;

  &:hover{
    background-color: darken($extra-color, 10%);
  }
}