@import '../../../assets/styles/variables';

.container{
  padding: 20px;
  padding-inline: 60px;
  border-radius: 10px;
  font-size: 18px;
  background-color: $yellow;

  &:hover{
    background-color: darken($yellow, 10%);
  }
}