@import '../../../../assets/styles/variables';

.navList{
  width: 250px;
  display: flex;
  justify-content: center;
  padding-top: 60px;

  .container{

    .logo{
      font-size: 22px;
      margin-bottom: 80px;

      a{
        display: flex;
        align-items: center;
        gap: 5px;
  
        img{
          width: 30px;
        }
        h2{
          font-weight: 600;
        }
      }
    }
  
    nav{

      ul{

        li{
          margin-bottom: 10px;
          font-size: 16px;
          color: $light-accent;
          font-weight: 600;

          button{
            display: flex;
            gap: 25px;
            align-items: center;
            width: 165px;
            height: 40px;
            padding-inline: 10px;
            border-radius: 5px;
            transition: 0.2s;
            &:hover{
              color: #197BBD;
              background-color: #F0F7FF;
            }

          }
        }
      }

      
    }
  }

  .btnActive{
    color: #197BBD;
    background-color: #F0F7FF;
  }
}

