@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

$accent: rgb(64, 64, 64);
$light-accent: rgb(199, 199, 199);
$extra-color: #5091F8;
$gradient-color: linear-gradient(326deg, rgba(9,111,177,1) 0%, rgba(66,169,238,1) 100%);
$yellow: #FFC145;

$bx-accent: 0 0 10px 10px rgba(0,0,0,6%);

$default-font: 'Roboto', sans-serif;

$mobile: 480px;
