@import '../../../../../../assets//styles/variables';

.container{
  box-shadow: $bx-accent;
  padding: 10px;
  border-radius: 10px;
  font-style: 14px;
  background-color: white;
  ul{
    width: 100%;
    li{
      min-width:74px;
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0px;
      }
      &:hover{
        font-weight: 600;
      }
    }
  }
}